<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>HIPAA Security Suite - Compliance - Risk Assessment</title>
    <meta name="description" content="Managing HIPAA Compliance can be a full time job. The HIPAA Security Suite is a complete, turn key solution providing a single dashboard to manage all of your practice's HIPAA requirements." />

    <!-- ////////////////////////////////// -->
    <!-- //        Favicon Files         // -->
    <!-- ////////////////////////////////// -->
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="helios-icon" href="/assets/helios-icon.png" />

    <!-- ////////////////////////////////// -->
    <!-- //      Start Stylesheets       // -->
    <!-- ////////////////////////////////// -->
    <link href="/assets/reset.css" rel="stylesheet" type="text/css" />
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
    <link href="/assets/custom-style.css" rel="stylesheet" type="text/css" />
    <link href="/assets/colorbox.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/assets/noscript.css" rel="stylesheet" type="text/css" media="screen,all" id="noscript" />

    <!-- ////////////////////////////////// -->
    <!-- //      Javascript Files        // -->
    <!-- ////////////////////////////////// -->
    <script type="text/javascript" src="/assets/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/dropdown.js"></script>
    <script type="text/javascript" src="/assets/vtip.js"></script>
    <script type="text/javascript" src="/assets/jquery.colorbox.js"></script>
    <script type="text/javascript" src="/assets/ddaccordion.js"></script>
    <script type="text/javascript" src="/assets/faq-functions.js" ></script>
    <script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/assets/jquery.cycle.all.js"></script>
    <script type="text/javascript" src="/assets/imgrollover.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/jquery.datepick.css"/>
    <script type="text/javascript" src="/assets/jquery.datepick.js"></script>
<%#*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>%>

    <script type="text/javascript">
      $(function(){
        //Front Testimonials Setting
        $('.front-testimonials ul').cycle({
          timeout: 7000,
          fx:     'blindY',
          cleartypeNoBg: true
        });

        //Tab Jquery
        $(".tab_content").hide();
        $("ul.tabs li:first").addClass("active").show();
        $(".tab_content:first").show();
        $("ul.tabs li").click(function() {
          $("ul.tabs li").removeClass("active");
          $(this).addClass("active");
          $(".tab_content").hide();
          var activeTab = $(this).find("a").attr("href");
          $(activeTab).fadeIn();
          return false;
        });

        //Colorbox Setting
        $("a[rel='portfolio']").colorbox({transition:"fade"});


        //Slideshow Setting
        $('#slideshow ul').cycle({
          timeout: 5000,
          fx:     'fade',
          prev:   '#slideprev',
          next:   '#slidenext',
          pause:   0,
          cleartypeNoBg: true,
          pauseOnPagerHover: 0
        });

      });
    </script>

    <style type="text/css">
      .auto-style1 {
        width: 294px;
        margin: 0px 0px 15px 19px;
        float: left;
      }
      .auto-style2 {
        font-size: x-small;
        font-family: Arial;
      }
      .auto-style3 {
        font-size: medium;
      }
    </style>
    <!-- BEGIN OF HEADER -->
  <div id="header-container">
    <div id="header-box">

      <div id="logo">
        <a href="/dashboard">
          <img src="/assets/logo.png" alt="HIPAA Security Suite Logo" width="276" height="152" /></a>
      </div>
      <div id="righttop-header">
        <div id="top-social">
          <ul>
            <li>
              <% if user_signed_in? %>
                Welcome <%=current_user.fname%>
                <%=current_user.lname%>!
                <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
              <%end%>
            </li>
          </ul>
        </div>
        <div id="top-slogan">
          <h4 align="center"><span class="title-red">HIPAA Security Suite</span> <br/>
            <span class="auto-style2">
              <strong class="auto-style3">Advancing HIPAA Compliance Management</strong>
            </span></h4>
        </div>
        <div id="mainmenu">
          <ul id="menu">
            <li class="current">
              <a href="/dashboard">Dashboard</a>
            </li>
            <li>
              <a href="/users/edit">Change Password</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <!-- END OF HEADER -->

</head>
<body>
  <br/>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}", :class=>"red_alert" %>
  <% end %>
  <br/><br/>
  <%= yield %>
  <br/><br/>
  <!-- BEGIN OF BOTTOM CONTENT -->
  <div id="bottom-container">
    <div id="bottom-content">

      <div class="bottom-column1">
        <h5>Distributed by Acentec, Inc.</h5>
        <p>Acentec, Inc. is a turn-key provider of technology solutions to the medical community. We offer professional IT services to medical offices nationwide, medical billing services with Certified Coders out of our Florida office, PogoMD
					Practice Portal, and Certified Medinformatix EMR and Practice Management software. Our best in class solutions are engineered to improve medical practice efficiency and performance. Our results oriented team is experienced, dedicated, and committed to assisting each practice in the achievement of their goals.</p>
        <p><a href="http://www.acentec.com">Acentec</a>, Inc. - <em><a href="http://www.acentec.com">Improving Medical Practice Performance</a></em><a href="http://www.acentec.com">®</a></p>
      </div>
      <div class="bottom-column2">
        <h5>Terms of Use</h5>
        <p>Please read our easy to understand Terms of Use.</p>
        <p><a href="#">Privacy Policy &amp; Disclaimer</a></p>
      </div>
      <div class="bottom-column2">
        <h4>800 970 0402<br/> 949 474 7774</h4><br />
        <p></p>
        <p>&nbsp;</p>
        <p>17815 Sky Park Circle<br/>
          Suite J,<br/>
          Irvine, CA 92614</p>
      </div>

    </div>
    <div id="footer-wrapper">
      <div id="footer-content">
        <div class="footer-text">
          <p>© 2012 eXcitewerks, inc. Technology powered by PogoMD®. <br/> All international rights reserved.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- END OF BOTTOM CONTENT -->

  <script type="text/javascript">$('#noscript').remove();</script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37519169-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</body>
</html>
